<form   name="warehousequality" role="warehousequality"  ng-submit="warehousequality.$valid && warehousequalityvm.save()"  has-authority="ROLE_WAREHOUSE" show-validation>
    <div class="panel-body container-fluid" >




        <div class="row row-lg">	
            <center>    <h3  translate="warehouse.quality.header"> Warehouse Quality  </h3> </center>
        </div>

        <div class="row row-lg">
            <div class="col-sm-4 col-md-4">
                <div class="form-group form-material floating">
                    <div class="form-group form-material">
                        <label class="control-label" for="token"  translate="warehouse.quality.tokenno">Token</label>
                        <input type="text" class="form-control" id="token" name="token"   ng-model="warehousequalityvm.token" ng-blur="warehousequalityvm.getQualityParameter()" ng-minlength=1 ng-maxlength=4 ng-pattern="/^[0-9]{1,4}$/" required>
                        <div ng-show="warehousequality.token.$dirty && warehousequality.token.$invalid">
                            <p class="help-block"
                               ng-show="warehousequality.token.$error.required" translate="warehouse.weighment.tokenrequired">
                                Token is Required
                            </p>
                            <p class="help-block"
                               ng-show="warehousequality.token.$error.minlength" translate="warehouse.weighment.minlength">
                                Minimum Length : 4
                            </p>
                            <p class="help-block"
                               ng-show="warehousequality.token.$error.maxlength" translate="warehouse.weighment.maxlength">
                                Maximum Length : 4
                            </p>
                            <p class="help-block"
                               ng-show="warehousequality.token.$error.pattern" translate="warehouse.weighment.invalidtoken">
                                Only Numbers Allowed
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="warehousequalityvm.commodityrecieved.inmill">
            *Lot is pending with Mill.
        </div>




        <div ng-if="warehousequalityvm.commodityrecieved.inwarehouse">
            <div ng-if="warehousequalityvm.weighment.grossweight === null">
                Warning : Weighment has not been done for Gross Weight.
            </div>
            <center>  
                <h4> Lot Information </h4>
            </center>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Source</td>
                        <td>{{warehousequalityvm.commodityrecieved.sourcemandiname}}{{warehousequalityvm.commodityrecieved.sourcewarehousename}}{{warehousequalityvm.commodityrecieved.sourcemillname}}</td>
                        <td>Commodity</td>
                        <td>{{warehousequalityvm.commodityrecieved.commodityname}}</td>
                        <td>Book No. / Sr. No.</td>
                        <td>{{warehousequalityvm.commodityrecieved.bookno}} / {{warehousequalityvm.commodityrecieved.srno}}</td>
                    </tr>

                    <tr>
                        <td>Bags Received</td>
                        <td>{{warehousequalityvm.commodityrecieved.liftedbags}}</td>
                        <td>Lifted Weight (Mandi)</td>
                        <td>{{warehousequalityvm.commodityrecieved.liftedweight}}</td>
                        <td>Depositor</td>
                        <td>{{warehousequalityvm.commodityrecieved.depositorname}}</td>
                    </tr>


                    <tr>
                        <td>Vehicle No.</td>
                        <td>{{warehousequalityvm.commodityrecieved.vehicleno}}</td>
                        <td>Driver Name</td>
                        <td>{{warehousequalityvm.commodityrecieved.drivername}}</td>
                        <td>Driver Name</td>
                        <td>{{warehousequalityvm.commodityrecieved.drivername}}</td>

                    </tr>
                </tbody>
            </table>



            <div class="row row-lg">
                <div ng-repeat="param in warehousequalityvm.qualityparam">
                    <div ng-init="warehousequalityvm.quality[$index + 1].ondate = param.ondate"></div>

                    <div class="col-sm-4 col-md-4">
                        <div class="form-group form-material floating">
                            <div class="form-group form-material">
                                <div ng-if="param.qualityparam">{{warehousequalityvm.quality[$index + 1].qualityparam = param.qualityparam}}  </div>
                                <div ng-if="param.quality_param"> {{warehousequalityvm.quality[$index + 1].qualityparam = param.quality_param}}  </div>
                                <input type="text" class="form-control" id="paramvalue" name="paramvalue" ng-init = "warehousequalityvm.quality[$index + 1].qualityvalue = param.qualityvalue" ng-model="warehousequalityvm.quality[$index + 1].qualityvalue">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row row-lg">
                <div ng-if="warehousequalityvm.qualityparam">
                    <input type="radio" ng-model="warehousequalityvm.qualitystatus" value="Accepted"  >
                    <label translate="warehouse.quality.accept">  Accept
                    </label>


                    <input type="radio" ng-model="warehousequalityvm.qualitystatus" value="Rejected"  >
                    <label translate="warehouse.quality.reject"> Reject
                    </label>
                </div>
            </div>


            <center> 
                <button type="submit"  class="btn btn-primary"  translate="warehouse.quality.save">
                    Submit Details
                </button>
            </center> 
            <br> </br>
        </div>
    </div>

</form>
